@using Shopping.Api.IdentityTenant.IdentityServerControllers.Account
@model LogoutViewModel

<div class="logout-page">
    <div class="lead">
        <h1>Logout</h1>
        <p>你去定要退出登录吗?</p>
    </div>

    <form asp-action="Logout">
        <input type="hidden" name="logoutId" value="@Model.LogoutId"  />
        <div class="form-group">
            <button class="btn btn-primary">确定</button>
        </div>
    </form>
</div>
