@using Shopping.Api.IdentityMember.IdentityServerControllers.Account
@model LogoutViewModel

<div class="logout-page">
    <div class="lead">
        <p>你确定要退出吗?</p>
    </div>

    <form asp-action="Logout">
        <input type="hidden" name="logoutId" value="@Model.LogoutId"  />
        <div class="form-group">
            <button class="btn btn-primary">是的</button>
        </div>
    </form>
</div>
